---
permalink: /404.html
title: 404 Error
description: Looks like we lost a page...
canonicalURL: /404/
og_title: 404 Error
og_description: Looks like we lost a page...
og_url: https://exploreyourweekend.com/404/
robots: noindex
---
<!doctype html>
<html lang="en">
  {% include 'head.liquid' %}
  <body id="PageNotFound">
    {% include 'nav.liquid' %}
    <main id="horizontal">
      <article>
        {% include "components/image.liquid"
          , slugName: 'error' %}
        <div class="InfoPanel">
          <h3>Whoops!</h3>
          <h1>Looks like we lost a page...</h1>
          <p>Try exploring some other pages instead.</p>
          <div class="tags light">


            {% assign featured_locations = "Home,Ultimate Guide,Springbrook National Park Guide,Broken Head Nature Reserve Guide" | split: "," %}

            {% for title_to_find in featured_locations %}
              {% assign found_slug = "" %}

              {% for guide in collections.guides %}
                {% if guide.title == title_to_find %}
                  {% assign found_slug = guide.canonicalURL %}
                  {% break %}
                {% endif %}
              {% endfor %}

              {% if title_to_find == "Home" %}
                {% include "components/link.liquid"
                  , href: "/"
                  , text: "Home"
                  , button: true %}
              {% else %}
                {% include "components/link.liquid"
                  , href: found_slug
                  , text: title_to_find
                  , button: true %}
              {% endif %}

            {% endfor %}
          </div>
        </div>
      </article>
    </main>
  </body>
</html>