---
permalink: /locations/
title: All Locations
description: Explore a full list of all locations on Explore Your Weekend.
---
<!doctype html>
<html lang="en">
  {% include 'head.liquid' %}
  <body class="locations-list">
    {% include 'nav.liquid' %}
    <main id="vertical">
      <article id="Intro">
        <div class="InfoPanel">
          <h1>All Locations</h1>
          <p>Discover every location on Explore Your Weekend, from hidden gems to popular spots.</p>
        </div>
      </article>

      <div class="locations-grid">
        {% for location in collections.locations %}
          <article
            id="{{ location.slug }}"
            itemscope
            itemtype="https://schema.org/CreativeWork">
            <a href="/locations/{{ location.slug }}/" class="location-card">
              {% include "components/image.liquid"
                , slug: location.slug
                , altTag: location.altTag
                , aspect_ratio: "3:4"
                , sizes: "(max-width: 480px) 90vw, (max-width: 768px) 45vw, 30vw"
                , default_width: 362
                , fetchpriority: forloop.first
              %}
              <div class="card-content InfoPanel">
                <h2 itemprop="headline">{{ location.title }}</h2>
                <div class="tags" itemprop="keywords">
                  {% for tag in location.formattedTags %}
                    {% unless tag.group == 'Distance' or tag.group == 'Duration' %}
                      <div class="tag">{{ tag.name }}</div>
                    {% endunless %}
                  {% endfor %}
                </div>
              </div>
            </a>
          </article>
        {% endfor %}
      </div>
    </main>
  </body>
</html>