* {
    scroll-behavior: smooth !important;
    -webkit-tap-highlight-color: transparent;
    cursor: default;
    font-family: "futura-pt", sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

a,
body {
    color: White;
    text-decoration: none;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
}

:root {
    --Green-Op: rgba(53, 105, 90);
    --Green: rgba(53, 105, 90, 1);
    --Sand-Op: rgba(230, 224, 218, 0.8);
    --Sand: rgba(230, 224, 218, 1);
    --MainHeight: 100%;
    --vh: 1vh;
}

main#horizontal,
main#vertical {
    height: calc(var(--vh, 1vh) * 100 - 7vh) !important;
    min-height: calc(var(--vh, 1vh) * 100 - 7vh) !important;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    fill: currentColor;
}

main img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

main#vertical > article > a,
main#vertical #all-content-cards > article > a,
main#vertical #search-results-container > article > a,
nav #search-results > article > a,
.locations-grid > article > a {
    height: 100%;
}

main#vertical picture {
    height: 100%;
}

picture {
    /*object-fit: cover;*/
    overflow: hidden;
    height: auto;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.multiImage{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    max-height: 80vh;
}

.multiImage picture {
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.image-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
}

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#PageNotFound main img {
    overflow: hidden;
    height: auto;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#vertical img {
    /* min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%; */
}

#UltimateGuide img {
    object-position: 50 0%;
}

#MinyonFallsBaseHike img {
    object-position: 50% 15%;
}

#RainforestCircuit img,
#BurleighBeach img {
    object-position: 10%;
}

#LyrebirdRidgeRd img,
#SpringbrookviaAdvancetown img {
    object-position: 20%;
}

#SpringbrookviaMurwillumbah img {
    object-position: 70%;
}

#TumgunLookout img,
#FingalHeadBeach img,
#About img {
    object-position: 50 90%;
}

#FingalHeadBeach img {
    object-position: 0 68%;
}

.fwd,
.bwd {
    position: absolute;
    height: 80%;
    width: 50%;
    color: var(--Green);
    font-size: 4vh;
    display: inline-flex;
    place-items: center;
    text-align: center;
    box-sizing: border-box;
}

.fwd:hover,
.bwd:hover {
    color: white;
}

.fwd {
    right: 0;
    margin-right: 2.5vw;
}

.ind .fwd {
    /*padding-left: 80vw;*/
    z-index: 10;
    width: 100%;
    height: 100%;
}

.fwd svg,
.bwd svg {
    width: 1em;
    height: 1em;
    line-height: 5vh;
    border-radius: 1em;
    text-align: center;
    background-color: var(--Sand);
}

.fwd svg {
    position: absolute;
    right: 0;
    padding-left: 0.3vh;
    box-sizing: border-box;
}

.bwd {
    left: 0;
    padding-left: 2.5vw;
}

.fwd:hover svg,
.bwd:hover svg {
    font-weight: bolder;
    animation-duration: 0.4s;
    background-color: var(--Green-Op);
}

#vertical .fwd {
    right: 2.5%;
}

#vertical #Intro .fwd {
    display: none;
}

/* span {
    align-content: center;
} */

#Intro .fwd {
    /*margin-right: 0;*/
    width: 15%;
    height: 100%;
}

/* main #horizontal article:first-of-type .bwd span {
    color: var(--Sand);
    background-color: var(--Green);
}

main #horizontal article:first-of-type .bwd span:hover {
    color: var(--Green);
    background-color: var(--Sand);
} */

.locations-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px; /* Adjust as needed */
    padding: 2.5%;
    /* background-color: var(--Sand); */
    /* width: 100%; */
}

.locations-grid article {
    border-radius: 10px;
    background-color: var(--Sand-Op);
}

@media (min-width: 480px) {
  .locations-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.location-card {
    text-decoration: none;
    color: inherit;
    display: block;
}

.location-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.card-content {
    padding: 10px 0;
}

.scroll-indicator {
    position: fixed;
    bottom: 2.5%;
    z-index: 10;
    box-sizing: border-box;
    padding: 0 2.5%;
    display: flex;
    gap: 5px;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    overflow: visible;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.scroll-indicator[style*="display: flex"] {
    opacity: 1;
}

.scroll-indicator .segment {
    flex: 1;
    border-radius: 10px;
    background-color: var(--Green);
    position: relative;
    cursor: pointer;
    transition: background 0.4s ease;
}

.scroll-indicator .segment.active {
    background: #ffffff;
}

.scroll-indicator .segment .tooltip {
    position: absolute;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    z-index: 11;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--Green);
    color: #fff;
    font-size: 12px;
    padding: 5px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease;
    white-space: wrap;
}

.scroll-indicator .segment:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

h2 {
    margin: 0;
    /* margin-bottom: 0.5em; */
}

h2 + .tags {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

h3 {
    margin: 0;
    /* margin-bottom: 0.1em; */
}

p,
h1 {
    margin: 0.3em 0 1rem 0;
}

.ind h3 {
    /*margin: 0;*/
    /* margin: 2vh 0 1vh 0; */
}

.ind p {
    padding: 0 0;
}

p {
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.25rem; /* ~20px */
}

h3 {
    font-family: "EB Garamond", serif;
    font-weight: 700;
    font-size: 1rem; /* ~16px */
    text-transform: uppercase;
}

h4 {
    font-weight: normal;
    margin: 0.1em 0 0.2rem 0;
    font-size: 1.25rem; /* ~20px */
}

h1,
h2 {
    font-size: 1.875rem; /* ~30px */
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
}

nav img {
    /*height: 12vh;*/
    /*margin-left: 2vh;*/
}

main {
    /* position: relative; */
    /* width: 100vw; */
    /* height: var(--MainHeight); */
    font-size: 2vh;
}

main#horizontal {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    /* height: calc(100vh - 7vh);
    min-height: calc(100vh - 7vh); */
    
}

#Intro .bwd,
#FAQ .bwd,
#FAQ .fwd {
    display: none;
}

main#vertical {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

article {
    height: 100%;
    /*width: 100vw;*/
    background: white;
    scroll-snap-align: start;
    /*scroll-snap-stop: normal;*/
    scroll-snap-stop: always;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#horizontal article {
    min-height: 100%;
    /* min-width: 100%;
    max-height: 100%;
    max-width: 100%; */
    /*width: 100%;*/
    min-width: 100vw;
    max-width: 100vw;
    object-fit: cover;
    flex: 1;
}

#vertical #search-results-container article, #vertical article {
    height: 60vh;
}

nav #search-results article {
    height: 60vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

form input,
form textarea {
    border-color: var(--Green);
    padding: 0.3em;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3em;
}

form button {
}

#form-loading,
#form-success {
    /*font-size: 1.2em;*/
    font-weight: 500;
    margin-top: 0.5em;
    text-align: left;
}

#form-loading::after {
    content: "";
    display: inline-block;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    border: 2px solid var(--Green);
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}



.grid {
    display: grid;
    margin-bottom: 1em;
}

#PageNotFound main .tags a {
    width: 100%;
}

.grid a {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--Green);
    color: White;
    flex: 1;
}



main .tags div {
    color: var(--Green);
    background-color: transparent;
    border-color: var(--Green);
    border-style: solid;
}

a[title="Search"] {
    margin-bottom: 0.5em;
    height: 25em !important;
    background-color: var(--Sand);
    color: var(--Green);
    font-weight: 400 !important;
    border-width: 2px !important;
}

a[title="Search"] span:first-of-type {
    margin-right: 0.4em;
}

a[title="Search"] span:nth-of-type(2) {
    display: none;
}

/* main p + a {
    font-weight: 300 !important;
    background-color: var(--Green);
    border-color: var(--Green);
} */

.location-page p + a {
    margin-bottom: 2em;;
}

main p + a span {
    padding-left: 0.1em;
    color: White;
}

#About-Page .fwd {
    display: none;
}

/* .tags a:hover,
main p + a:hover {
    background-color: var(--Sand);
    color: var(--Green) !important;
    border-color: var(--Green);
    font-weight: 400;
} */

/* main p + a:hover * {
    color: var(--Green);
    font-weight: bolder;
} */

.button{
    padding: 0.3em 0.5em;
    border-radius: 3vh;
    font-size: 1em;
    border-style: solid;
    border-width: 1px;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    background-color: var(--Green);
    color: White !important;
    border-color: var(--Green);
    width: auto;
}

.button:hover, .button:hover span {
    background-color: var(--Sand);
    color: var(--Green) !important;
    border-color: var(--Green);
    font-weight: 400;
}

.location-page .InfoPanel, .location-page article {
    overflow-y: auto;
}

.InfoPanel {
    padding: 2.5%;
    padding-top: 1em;
    box-sizing: border-box;
    bottom: 0;
    background-color: var(--Sand);
    height: auto;
    width: 100%;
    overflow: hidden;
    color: var(--Green);
    flex-shrink: 0;
}

.InfoPanel p a:not(.InfoPanel #nearby p a) {
    color: var(--Green);
    font-weight: bolder;
}

#nearby *{
    color: var(--Green);
}

#nearby a:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.InfoPanel p a:hover {
    opacity: 90%;
}

a > h2,
a > h3 {
    color: var(--Green);
}

.link-with-icon > h3 + span, .link-with-icon > h2 + span {
    color: var(--Green);
}

.link-with-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    border-bottom: 2px solid #ddd;
}

.tab-button {
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-bottom: 2px solid transparent;
}

.tab-button.active {
    border-bottom: 2px solid var(--Green);
    font-weight: bold;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

main .InfoPanel:not(#Intro .InfoPanel) {
    z-index: 10;
}

#Intro .InfoPanel {
    height: 100%;
    background-color: var(--Green);
    color: White;
    padding-right: 20%;
    width: 100%;
    padding-bottom: 35%;
}

#vertical #Intro {
    position: relative;
    height: auto;
}

#vertical #Intro .InfoPanel {
    padding-right: 2.5%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1.5%;
}

#vertical #Intro p {
    padding-top: 0;
    margin-top: 0;
}

#vertical #Intro h1 {
    padding-bottom: 0;
    margin-bottom: 1%;
}

#Intro {
    min-width: 90%;
}

#FAQ .InfoPanel {
    height: 100%;
    overflow-y: auto;
}

#FAQ .InfoPanel h2 {
    margin-bottom: 1.11em;
}

main#horizontal article .InfoPanel {
    padding-bottom: calc(5vh + 5px);
    /* flex-grow: 1; */
}

.faq-question {
    padding: 0;
    color: var(--Green);
    background: transparent;
    width: 100%;
    text-align: left;
    font-size: 1.1em;
    padding-bottom: 0.5em;
    cursor: pointer;
    border: none;
}

.faq-answer {
    padding-left: 0.5em;
    border-left: 3px solid var(--Green);
    display: none;
}

.faq-answer[hidden] {
    display: none;
}

.faq-answer:not([hidden]) {
    display: block;
}

#tag-database a,
.tag-database a {
    font-family: futura-pt, sans-serif;
    font-size: 2vh;
    margin: 0;
}

.search {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    font-family: futura-pt, sans-serif;
    font-size: 2.2vh;
}


#search-container,
.search-container {
    position: relative;
    display: inline-block;
}

#clear-search-button,
.clear-search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24;
    color: #888;
    box-sizing: border-box;
    display: flex;
}

#clear-search-button:hover,
.clear-search-button:hover {
    color: #000;
}

.remove-tag-button {
    display: flex;
    padding: 0.01em;
}

.active-tag-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

#search-container input,
.search-container input {
    color: var(--Green) !important;
    border-radius: 10em;
    padding: 0.5em;
    border-color: var(--Green);
    border-style: solid;
    width: 100%;
    box-sizing: border-box;
    border-width: 1px;
}

#search-container input:placeholder-shown,
.search-container input:placeholder-shown {
    font-weight: 200;
}

#search-container input:focus-visible,
.search-container input:focus-visible {
    border-color: var(--Green);
}

.clear-search-button span,
#clear-search-button span {
    font-size: 1em;
    align-items: center;
    font-weight: 300;
}

.remove-tag-button {
  height: 1em;
}

.tag-group-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: fixed;
    left: 0;
    background-color: var(--Green);
    padding: 1em;
    margin: 0 calc(2.5% + 10px);
    box-sizing: border-box;
    z-index: 100;
    height: auto;
}

.hidden {
    display: none !important;
}

.tag-link {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
    color: var(--Green) !important;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tag-link:hover {
    background-color: #ddd !important;
    color: var(--Green) !important;
}

.popup-active-tag:hover {
    background-color: rgb(208, 144, 54) !important;
}

#active-tags-container,
.active-tags-container {
    margin-bottom: 2vh;
    margin-left: 10px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

#vertical #Intro .search-results a {
    color: WHite;
}

#search-results a,
.search-results a {
    color: var(--Green);
}

.tag-group-header {
    font-size: 1em;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    color: var(--Green);
    white-space: nowrap;
}

#Intro .tags {
    flex-direction: column;
}

#onthispage p,
#onthispage h3 {
    margin-top: 4vh;
    margin-bottom: 2vh;
}

.tags div:empty {
    display: none;
}

#vertical .InfoPanel,
#About-Page .InfoPanel,
nav #search-results .InfoPanel {
    position: absolute;
}

#vertical .InfoPanel:not(#vertical #Intro .InfoPanel),
nav #search-results .InfoPanel {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 100%);
}

#vertical article .InfoPanel,
nav #search-results article .InfoPanel {
    top: 0;
    border-radius: 0;
    bottom: auto;
    padding-bottom: 0;
    color: white;
    padding-right: 5%;
    height: 100%;
}

#vertical article > .InfoPanel > *,
nav #search-results article > .InfoPanel > * {
    width: 80%;
}

#vertical #Intro > .InfoPanel > * {
    width: 100%;
}

.ind h2,
#About-Page h1 {
    font-size: 4vh;
    font-weight: 600;
}

.ind h3,
#About-Page h3 {
    font-size: 2vh;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.2em;
    margin-bottom: 1rem;
}

.col {
    flex-direction: column;
}

.light > * {
    color: White !important;
    border-color: var(--Green);
    background-color: var(--Green);
}

#Intro a:not(.fwd) {
    color: White;
    border-color: White;
}

.tags div,
.tags a,
main p + a {
    border-radius: 3vh;
    padding: 0.3em 0.5em;
    font-size: 0.9em;
    border-style: solid;
    border-width: 1px;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.tags a {
    font-size: 1em;
}

.tagContent {
    font-family: futura-pt, sans-serif;
    border: 1px solid var(--Green);
    padding: 2px;
    border-radius: 4px;
}

#vertical .tags div {
    color: White;
    border-color: White;
}



@media only screen and (max-height: 600px) {
    h3 {
        font-size: 2vh;
    }

    h2 {
        font-size: 5vh;
    }

    nav a {
        font-size: 3vh;
    }

    .tags div {
        font-size: 3vh;
    }

    .InfoPanel {
        font-size: 3vh;
    }
}

@media only screen and (min-width: 768px) {
    main#horizontal article {
        flex-direction: row !important;
    }
    main#horizontal picture {
        /* width: 50%; */
    }
    main#horizontal .InfoPanel:not(#Intro .InfoPanel, #FAQ .InfoPanel) {
        width: 50%;
        z-index: 1;
        padding-right: 8%;
    }
    main#horizontal article#Intro {
        width: 80%;
        min-width: 80%;
    }
    main#horizontal .fwd {
        z-index: 10;
    }
    main#horizontal .fwd span:not(main#horizontal #Intro .fwd span) {
        background-color: var(--Green);
        color: var(--Sand);
    }
    .tag-group-content {
        width: auto;
    }
    .tags div,
    main p + a,
    #Intro .tags a {
        font-size: 1em;
    }
    p {
        font-size: 1.2em;
    }
    h3 {
        font-size: 1em;
    }
    #horizontal .fwd,
    #horizontal .bwd {
        width: 5%;
        height: 100%;
    }

    .locations-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .multiImage{
        max-height: 100%;
    }
}
