<nav>
  <a title="Home" href="/">
    <img src="/ExploreYourWeekendLogoGREEN.svg" alt="Explore Your Weekend">
  </a>
  <button
    title="Menu"
    class="menu-button"
    aria-label="Toggle navigation menu"
    data-menu-toggle>
    {% include 'icon.liquid'
      , name: 'menu'
      , class: 'icon' %}
  </button>
  <div class="InfoPanel" style="display: none;">
    <div class="tags grid">
      <a class="button" href="/about/">About
        {% include 'icon.liquid'
          , name: 'chevron_right'
          , class: 'icon-sm' %}
      </a>
      <a
        class="button"
        href="https://www.instagram.com/exploreyourweekend/?hl=en"
        target="_blank">Instagram
        {% include 'icon.liquid'
          , name: 'arrow_outward'
          , class: 'icon-sm' %}
      </a>
      <a class="button" href="/guides/">All Guides
        {% include 'icon.liquid'
          , name: 'chevron_right'
          , class: 'icon-sm' %}
      </a>
      <a class="button" href="/locations/">All Locations
        {% include 'icon.liquid'
          , name: 'chevron_right'
          , class: 'icon-sm' %}
      </a>
    </div>
    <div class="tags grid col">
      <a href="/" title="Search">
        {% include 'icon.liquid'
          , name: 'search'
          , class: 'icon text-gray-600' %}Search your weekend...
        {% include 'icon.liquid'
          , name: 'chevron_right'
          , class: 'icon-sm' %}
      </a>

      {% comment %} {% for guide in guides limit: 10 %} {% endcomment %}
      {% for guide in guides %}
        <a
          class="button"
          href="/guides/{{ guide.slug }}/"
          onclick="myFunction()">
          {{ guide.title }}
          {% include 'icon.liquid'
            , name: 'chevron_right'
            , class: 'icon-sm' %}
        </a>
      {% endfor %}

      {% comment %} {% for location in locations limit: 20 %} {% endcomment %}
      {% for location in locations %}
        <a
          class="button"
          href="/locations/{{ location.slug }}/"
          onclick="myFunction()">
          {{ location.title }}
          {% include 'icon.liquid'
            , name: 'chevron_right'
            , class: 'icon-sm' %}
        </a>
      {% endfor %}
    </div>
  </div>
</nav>