{%- assign tag_type = tag | default: '' -%}

<a
  href="{{ href }}"
  class="link-with-icon {% if button %}button{% endif %}"
  {% if href contains "http" %}
  target="_blank"
  rel="noopener noreferrer"
  {% endif %}>

  {% if tag_type != '' %}
    <{{ tag_type }}>
    {% endif %}
    {{ text }}
    {% if href contains "http" %}

      {% include 'icon.liquid'
        , name: 'arrow_outward' %}

    {% else %}

      {% include 'icon.liquid'
        , name: 'chevron_right' %}
    {% endif %}

    {% if tag_type != '' %}
      </{{ tag_type }}>
    {% endif %}

  </a>